# Import the Packages

In [2]:
import numpy as np
import pandas as pd

from pathlib import Path
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, FunctionTransformer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import TransformedTargetRegressor, ColumnTransformer

# Load the Data

In [5]:
pwd

'D:\\Flight-Price-Prediction\\new_notebooks'

In [6]:
# load the train data

train_data_path = Path('new_data/train.csv')

train_df = pd.read_csv(train_data_path)

train_df.head()

,airline,date_of_journey,source,destination,departure_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-06-15,Delhi,Cochin,05:35:00,08:50:00,195,0,No Info,5601
1,Jet_Airways,2019-05-09,Delhi,Cochin,10:00:00,19:00:00,540,1,No Info,15554
2,Spicejet,2019-05-18,Mumbai,Hyderabad,13:15:00,14:45:00,90,0,No Info,2227
3,Indigo,2019-05-06,Kolkata,Banglore,08:10:00,13:00:00,290,1,No Info,5069
4,Air_India,2019-03-21,Delhi,Cochin,23:00:00,19:15:00,1215,1,No Info,6745

In [7]:
# load the test data

test_data_path = Path('new_data/test.csv')

test_df = pd.read_csv(test_data_path)

test_df.head()

,airline,date_of_journey,source,destination,departure_time,arrival_time,duration,total_stops,additional_info,price
0,Jet_Airways,2019-03-06,Banglore,Delhi,08:00:00,08:15:00,1455,1,No Info,17996
1,Spicejet,2019-06-06,Kolkata,Banglore,22:20:00,00:40:00,140,0,No Info,3873
2,Indigo,2019-03-18,Kolkata,Banglore,05:30:00,08:20:00,170,0,No Info,4462
3,Indigo,2019-06-27,Chennai,Kolkata,19:35:00,21:55:00,140,0,No Info,3597
4,Indigo,2019-05-06,Kolkata,Banglore,15:15:00,17:45:00,150,0,No Info,4804

## Check for missing values

In [8]:
# check in training data

train_df.isna().sum()

airline            0
date_of_journey    0
source             0
destination        0
departure_time     0
arrival_time       0
duration           0
total_stops        0
additional_info    0
price              0
dtype: int64

In [9]:
# check in test data

test_df.isna().sum()

airline            0
date_of_journey    0
source             0
destination        0
departure_time     0
arrival_time       0
duration           0
total_stops        0
additional_info    0
price              0
dtype: int64

## Check for duplicate rows

In [10]:
# check in training data

train_df.duplicated().sum()

0

In [11]:
# check in test data

test_df.duplicated().sum()

0

**There are no rows in both training and test data that contains either any missing values or any duplicate rows**

## Data types

In [16]:
list_dtypes_train = train_df.dtypes.to_list()

list_dtypes_test = test_df.dtypes.to_list()

print('Are the data types same in both train and test data -->',list_dtypes_train == list_dtypes_test)

Are the data types same in both train and test data --> True

**Data types of all columns are same in both the train and test data**

# Column Wise Transformations

## Airline

# Single Transformer for Data